<p>Welcome to the website which is all about Student Information</p>
8<img src="/images/welcome.jpg" height="auto" width="100%"/>      <!-- show this image whenever you click on home tab from layout -->
