<!doctype html>
<html lang="en"> 
  <head>
    <title>
    <%= @title || "cc project"%>
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1> <marquee direction="right" scrollamount="15">Student Information System  </marquee> </h1>
      <%=erb :nav%>   <!-- navigate to this view when this layout is called -->
      <%= yield%>
    </header>
  </body>
</html>
