<form method="POST" action="/login">
	User Name :  <input type="username" name="username"><br>
	<br>
	Password &nbsp;&nbsp;&nbsp;: <input type="password" name="password"><br>
	<br>
	<input type="submit" value="Login">
</form>