<style> 
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
</style>
<form method="POST" action="/login">
	User Name :  <input type="username" name="username"><br>
	<br>
	Password &nbsp;&nbsp;&nbsp;: <input type="password" name="password"><br>
	<br>
	<input type="submit" value="Login">
</form>
