<h2 class="heading"> Add New Student </h2>

<div>
  <form method="POST" action="/students">
    <%= erb :student_info %>    <!-- call for student information page for filling the infomation-->
  </form>
</div>